{% extends "layout.html" %}
{% block content %}
<form id="signin-form" method="POST" action="/signin">
  <h1>IoT14</h1>
  <p>
    用户名 <input type="text" name="username" required>
  </p>
  <p style="padding-left: 1em">
    密码 <input type="password" name="password" required>
  </p>
  <p>
    <button type="submit">登录</button>
  </p>
</form>
<script>
const $signinForm = document.getElementById('signin-form')

$signinForm.onsubmit = () => {
  submitSigninForm()
  return false
}

function submitSigninForm () {
  const xhr = new XMLHttpRequest()
  const form = new FormData($signinForm)

  xhr.onreadystatechange = () => {
    if (xhr.readyState === XMLHttpRequest.DONE) {
      if (xhr.status === 200) {
        const token = JSON.parse(xhr.responseText).token
        window.localStorage.setItem('iot14_tk', token)
        window.location.href = `/user/${form.get('username')}`
        return
      }

      document.write('user signin failed')
    }
  }

  xhr.open('POST', '/signin')
  xhr.send(form)
}
</script>
<style>
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  text-align: center;
}

h1 {
  font-family: verdana, helvetica, sans-serif;
}
</style>
{% endblock %}
